.header {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 45px;
}

.header__logo {
  width: 173px;
  margin-bottom: 41px;
}

.header__line {
  max-width: 880px;
  width: 100%;
}

.header__email {
  color: #fff;
  font-size: 18px;
}

.header__inbutton{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.header__inbutton:hover{
  opacity: 0.8;
}

.header__btn-logout {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.header__btn-logout:hover {
  opacity: 0.8;
} 

.menu__mobile {
  display: none;
  cursor: pointer;
}

.menu__mobile:hover {
  opacity: 0.8;
}