.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;

}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.header__logo {
  width: 173px;
  margin-bottom: 33px;
}

.header__line {
  max-width: 880px;
  width: 100%;
}


.header__email {
  color: #fff;
  font-size: 18px;
}

.header__in-button {
  display: flex;
 align-items: center;
  gap: 24px;
  background-color: #000;
  border: none;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

}

.header__in-button:hover{
  opacity: 0.8;
}

.header__btn-logout {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
}
.header__btn-logout:hover {
  opacity: 0.8;
} 

