.login{
    margin-top: 50px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 900;
}

.login__input{
    width: 100%;
    border: none;
    margin-top: 30px;
    padding-bottom: 5px;
    font-size: 14px;
    color:#ccc;
    background-color: #000;
    border-bottom: 2px solid #ccc;
}

.login__input:focus {
    outline: none;
}

.login__button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    color: #000;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
}
   .login__button:hover {
    opacity: 0.8;
   }

   .login__link {
    display: block;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
   }

   .login__link:hover {
   opacity: 0.8;
   }